.container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 50px;
  position: relative;
  
}
/* body{
  background-color: rgb(64, 61, 83);
} */
.container h2{
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 13px;
}

input[type="number"] {
  width: calc(100% - 12px); /* Adjust for padding */
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 3px;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .container {
      margin: 10px;
      padding: 15px;
  }
   .switch-modes{
    top : 5px
}
}

@media (max-width: 400px) {
  input[type="number"] {
      font-size: 14px;
  }
  .switch-modes{
    top : 5px
}
.container input:focus{
  outline: none;
}
.submit-buton{
  border: none;
  padding: 10px;
  width: 97%;
  background-color: rgb(242, 180, 156);
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px rgb(194, 189, 189);
}
.switch-modes{
  position: absolute;
  right: 10px;
  background-color: rgb(216, 209, 209);
  top: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  /* box-shadow: 1px 1px 10px 1px rgb(95, 92, 92); */
  


}
